<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Expense</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'expense.css' %}">
</head>

<body>

  <div class="wrapper">

    <div class="image">
      <img src="/media/assets/addform.png" alt="" width="80px">
    </div>

    <div class="addex">
      <form method="post">
        {% csrf_token %}
        <h1 style="text-align: center; color: seagreen; font-size: 40px;">Add Expense</h1>

        <input type="number" name="amount" placeholder="Enter Amount" required>
        <select name="category" id="category">
          <option value="food">Food</option>
          <option value="stationary">Stationary</option>
          <option value="bills">Utility/bills</option>
          <option value="health">Fitness/Health</option>
          <option value="other" selected>Other</option>
        </select>
        <input type="text" name="description" placeholder="Description" required>
        <div class="btn">
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>

  </div>
</body>

</html>