<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Expense</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'expense.css' %}">
</head>

<body>

  <div class="wrapper">

    <div class="image">
      <img src="/media/assets/addform.png" alt="" width="80px">
    </div>

    <div class="addex">
      <form method="post">
        {% csrf_token %}
        <h1 style="text-align: center; color: seagreen; font-size: 40px;">Add Expense</h1>

        <input type="number" name="amount" placeholder="Enter Amount" required value="{{amount}}">
        <select name="category" id="category">
          <option value="food" {% ifequal category "food" %}selected{% endifequal %}>Food</option>
          <option value="stationary" {% ifequal category "stationary" %}selected{% endifequal %}>Stationary</option>
          <option value="bills" {% ifequal category "bills" %}selected{% endifequal %}>Utility/bills</option>
          <option value="health" {% ifequal category "health" %}selected{% endifequal %}>Fitness/Health</option>
          <option value="other" {% ifequal category "other" %}selected{% endifequal %}>Other</option>
        </select>
        <input type="text" value="{{description}}" name="description" placeholder="Description" required>
        <div class="btn">
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>

  </div>
</body>

</html>